@import '../../assets/scss/font/font';

.top-wrapper{
   display:flex;
   justify-content:space-between;
   width: 90%;
   margin:auto;
   padding:20px 0px;
}
.header-wrapper{
    background-color: #e0e0e0;
}